﻿@using ControlWork9.Data.Entities
@model IEnumerable<TransactionHistory>

@{
    ViewData["Title"] = "Payment History";
}

<h2>@ViewData["Title"]</h2>


<form asp-action="PaymentHistory" method="get">
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group">
                    <label>dateFrom</label>
                    <input type="date" id="dateFrom" name="dateFrom" class="form-control"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-inline form-group">
                    <label>dateTo</label>
                    <input type="date" id="dateTo" name="dateTo" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Show" class="btn btn-info"/>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Befor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.After)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Befor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.After)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
    </tbody>
</table>