﻿@model ControlWork9.ViewModels.UserPaymentViewModel

@{
    ViewData["Title"] = "Payment";
}

<h2>@ViewData["Title"] </h2>
@if (ViewBag.Message != null)
{
    <h2 class="text-center text-success">@ViewBag.Message</h2>
}
@if (ViewBag.Error != null)
{
    <h2 class="text-center text-danger">@ViewBag.Error</h2>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentFromUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
